{
  "openapi": "3.1.0",
  "info": {
    "title": "Appearance API",
    "description": "Access a user's Appearance ID — reference photos for visual generation.",
    "version": "0.2.0",
    "contact": {
      "name": "Appearance Developer Support",
      "email": "developers@appearance.app"
    }
  },
  "servers": [
    {
      "url": "https://appearance.app/api",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/users/me/appearance": {
      "get": {
        "summary": "Get user's Appearance ID",
        "description": "Returns the authenticated user's reference photos from their most recent face scan.",
        "operationId": "getAppearance",
        "tags": ["Appearance ID"],
        "responses": {
          "200": {
            "description": "The user's reference photos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppearanceId"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "User has no scan (no photos available)"
          }
        }
      }
    },
    "/v1/users/me/generations": {
      "get": {
        "summary": "List generations",
        "description": "Returns the user's generation history across all services.",
        "operationId": "listGenerations",
        "tags": ["Generations"],
        "parameters": [
          {
            "name": "zone",
            "in": "query",
            "schema": { "type": "string", "enum": ["hair", "glasses"] }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of generations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generations": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Generation" }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "summary": "Save generation",
        "description": "Save a generated image to the user's profile.",
        "operationId": "saveGeneration",
        "tags": ["Generations"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["imageUrl", "zone"],
                "properties": {
                  "imageUrl": { "type": "string", "format": "uri" },
                  "zone": { "type": "string", "enum": ["hair", "glasses"] },
                  "styleName": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Generation saved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Generation" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Access token from Sign in with Appearance"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid bearer token"
      }
    },
    "schemas": {
      "AppearanceId": {
        "type": "object",
        "description": "A user's reference photos from their face scan.",
        "properties": {
          "userId": { "type": "string" },
          "face": {
            "type": "object",
            "properties": {
              "scanGridUrl": { "type": "string", "format": "uri", "description": "2x2 composite scan grid" },
              "angles": {
                "type": "object",
                "properties": {
                  "front": { "type": "string", "format": "uri" },
                  "left": { "type": "string", "format": "uri" },
                  "right": { "type": "string", "format": "uri" }
                }
              },
              "scannedAt": { "type": "string", "format": "date-time" }
            }
          },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Generation": {
        "type": "object",
        "description": "A generated image from any service.",
        "properties": {
          "id": { "type": "string" },
          "zone": { "type": "string" },
          "imageUrl": { "type": "string", "format": "uri" },
          "generationService": { "type": "string", "description": "Which service generated this (appearance, chatgpt, claude)" },
          "styleName": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
