{
  "openapi": "3.1.0",
  "info": {
    "title": "Appearance API",
    "description": "Access structured appearance data for any consenting user.",
    "version": "0.1.0",
    "contact": {
      "name": "Appearance Developer Support",
      "email": "developers@appearance.app"
    }
  },
  "servers": [
    {
      "url": "https://api.appearance.app/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": [],
      "bearerAuth": []
    }
  ],
  "paths": {
    "/users/me/appearance": {
      "get": {
        "summary": "Get user's appearance",
        "description": "Returns the authenticated user's current appearance — scan grid image, structured face and hair data, skin tone, and facial measurements.",
        "operationId": "getUserAppearance",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "The user's appearance data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Appearance"
                },
                "example": {
                  "scanGrid": "https://appearance.app/scans/usr_k7Xm/grid.jpg",
                  "faceShape": "oval",
                  "hair": {
                    "textureFamily": 3,
                    "textureLabel": "Curly",
                    "density": "thick",
                    "lengths": { "top": "short", "sides": "short" }
                  },
                  "skinTone": {
                    "fitzpatrick": "Type V",
                    "undertone": "warm"
                  },
                  "measurements": {
                    "faceWidthMm": 142.3,
                    "jawWidthMm": 126.1,
                    "pdMm": 63.5
                  },
                  "audience": "masculine",
                  "analyzedAt": "2026-03-29T10:30:00Z"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "User has no appearance data (no scan completed)"
          }
        }
      }
    },
    "/scans/initiate": {
      "post": {
        "summary": "Initiate a scan session",
        "description": "Creates a scan session for a user who doesn't have an Appearance profile yet. Returns a URL where the user can complete a face scan. Your app receives a callback when the profile is ready.",
        "operationId": "initiateScan",
        "tags": ["Scans"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "redirectUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "Where to redirect the user after scan completion"
                  },
                  "webhookUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to receive a callback when the profile is ready"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scan session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanSession"
                },
                "example": {
                  "sessionId": "scan_k7Xm9pL2qR4v",
                  "scanUrl": "https://appearance.app/scan?session=scan_k7Xm9pL2qR4v",
                  "expiresAt": "2026-03-29T11:30:00Z"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Appearance-API-Key",
        "description": "Your Appearance API key (ak_...)"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "User's access token from Sign in with Appearance"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key or user token"
      }
    },
    "schemas": {
      "Appearance": {
        "type": "object",
        "description": "A user's current appearance data from their most recent scan.",
        "properties": {
          "scanGrid": { "type": "string", "format": "uri", "description": "Signed URL to the 2x2 scan grid image" },
          "faceShape": { "type": "string", "enum": ["oval", "round", "square", "diamond", "heart", "oblong"] },
          "hair": {
            "type": "object",
            "properties": {
              "textureFamily": { "type": "integer", "description": "Andre Walker scale: 1 (straight), 2 (wavy), 3 (curly), 4 (coily)" },
              "textureLabel": { "type": "string", "description": "Human-readable texture name" },
              "density": { "type": "string", "enum": ["thin", "medium", "thick"] },
              "lengths": {
                "type": "object",
                "properties": {
                  "top": { "type": "string", "enum": ["bald", "stubble", "short", "medium", "long"] },
                  "sides": { "type": "string", "enum": ["bald", "stubble", "short", "medium", "long"] }
                }
              }
            }
          },
          "skinTone": {
            "type": "object",
            "properties": {
              "fitzpatrick": { "type": "string", "description": "Fitzpatrick scale classification" },
              "undertone": { "type": "string", "enum": ["warm", "cool", "neutral"] }
            }
          },
          "measurements": {
            "type": "object",
            "description": "Physical measurements from ARKit facial geometry, in millimeters",
            "properties": {
              "faceWidthMm": { "type": "number" },
              "jawWidthMm": { "type": "number" },
              "pdMm": { "type": "number", "description": "Pupillary distance" }
            }
          },
          "audience": { "type": "string", "enum": ["masculine", "feminine", "androgynous"] },
          "analyzedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ScanSession": {
        "type": "object",
        "description": "A session for creating a new Appearance profile via face scan.",
        "properties": {
          "sessionId": { "type": "string", "description": "Unique session identifier" },
          "scanUrl": { "type": "string", "format": "uri", "description": "URL for the user to complete their scan" },
          "expiresAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
