{
  "openapi": "3.1.0",
  "info": {
    "title": "Appearance API",
    "description": "The canonical appearance profile API. Access structured appearance data for any consenting user — 50+ fields across hair, face, and glasses from a single face scan.",
    "version": "0.1.0",
    "contact": {
      "name": "Appearance Developer Support",
      "email": "developers@appearance.app"
    }
  },
  "servers": [
    {
      "url": "https://api.appearance.app/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": [],
      "bearerAuth": []
    }
  ],
  "paths": {
    "/users/me/profile": {
      "get": {
        "summary": "Get user's Appearance Profile",
        "description": "Returns the authenticated user's full Appearance Profile — 50+ structured fields across hair, structural measurements, and glasses zones. This is the primary endpoint for accessing appearance data.",
        "operationId": "getUserProfile",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "User's Appearance Profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppearanceProfile"
                },
                "example": {
                  "hair": {
                    "textureFamily": 3,
                    "textureType": "3B",
                    "textureLabel": "Curly",
                    "density": "thick",
                    "strandThickness": "medium",
                    "lengths": { "top": "short", "sides": "short", "back": "short", "fringe": null },
                    "naturalColor": "black",
                    "isColorTreated": false,
                    "faceShape": "oval",
                    "coverage": "full",
                    "currentCutFamily": "fade",
                    "facialHair": { "hasBeard": true, "beardType": "short stubble" }
                  },
                  "structural": {
                    "faceShape": "oval",
                    "faceWidth": 142.3,
                    "jawWidth": 126.1,
                    "skinTone": { "fitzpatrick": "Type V", "undertone": "warm", "description": "Brown skin with warm undertone" }
                  },
                  "glasses": {
                    "binocularPdMm": 63.5,
                    "faceWidthMm": 142.3,
                    "frameSize": "medium",
                    "wearsPrescription": false
                  },
                  "lastAnalyzedAt": "2026-03-29T10:30:00Z",
                  "schemaVersion": 2
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "User has no appearance profile (no scan completed)"
          }
        }
      }
    },
    "/users/me/card": {
      "get": {
        "summary": "Get user's Appearance Card",
        "description": "Returns the authenticated user's Appearance Card — a compact, ~25-field extract with enum-only values for quick reads and lightweight integrations.",
        "operationId": "getUserCard",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "User's Appearance Card",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppearanceCard"
                },
                "example": {
                  "cardType": "user",
                  "zone": "hair",
                  "audience": "masculine",
                  "textureFamily": 3,
                  "textureType": "3B",
                  "lengths": { "top": "short", "sides": "short" },
                  "density": "thick",
                  "cutFamily": "fade",
                  "styleNature": "natural",
                  "coverage": "full",
                  "faceShape": "oval",
                  "computedAt": "2026-03-29T10:30:00Z",
                  "cardVersion": 1
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "User has no appearance card (no scan completed)"
          }
        }
      }
    },
    "/users/me/identity": {
      "get": {
        "summary": "Get user's Visual Identity",
        "description": "Returns the user's Visual Identity Snapshot — a compact representation with scan URL, face shape, and key attributes. Useful for quick identification and display.",
        "operationId": "getUserIdentity",
        "tags": ["Users"],
        "responses": {
          "200": {
            "description": "Visual Identity Snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisualIdentitySnapshot"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/scans/initiate": {
      "post": {
        "summary": "Initiate a scan session",
        "description": "Creates a new scan session and returns a URL where the user can complete their face scan. Use this to onboard users who don't have an Appearance profile yet. When the scan is complete, the optional webhook URL receives a callback with the user's access token.",
        "operationId": "initiateScan",
        "tags": ["Scans"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "redirectUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to redirect the user to after scan completion"
                  },
                  "webhookUrl": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to receive a callback when the profile is ready"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scan session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanSession"
                },
                "example": {
                  "sessionId": "scan_k7Xm9pL2qR4v",
                  "scanUrl": "https://appearance.app/scan?session=scan_k7Xm9pL2qR4v",
                  "expiresAt": "2026-03-29T11:30:00Z"
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Appearance-API-Key",
        "description": "Your Appearance API key (ak_...)"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "User's access token from Sign in with Appearance OAuth flow"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key / user token"
      }
    },
    "schemas": {
      "AppearanceProfile": {
        "type": "object",
        "description": "Complete appearance profile with 50+ fields across hair, structural, and glasses zones. Built from AI-analyzed multi-angle face scans combined with ARKit measurements.",
        "properties": {
          "hair": {
            "type": ["object", "null"],
            "description": "Hair zone profile — texture, lengths, color, condition, facial hair, growth patterns, and style capabilities",
            "properties": {
              "textureFamily": { "description": "Andre Walker classification: 1=Straight, 2=Wavy, 3=Curly, 4=Coily, or 'bald'" },
              "textureType": { "type": ["string", "null"], "description": "Subtype: '1A'-'4C'" },
              "textureLabel": { "type": "string", "description": "Human-readable: 'Straight', 'Wavy', 'Curly', 'Coily'" },
              "density": { "type": "string", "enum": ["thin", "medium", "thick"] },
              "strandThickness": { "type": ["string", "null"], "enum": ["fine", "medium", "coarse", null] },
              "lengths": {
                "type": "object",
                "properties": {
                  "top": { "type": "string", "enum": ["bald", "stubble", "short", "medium", "long"] },
                  "sides": { "type": "string", "enum": ["bald", "stubble", "short", "medium", "long"] },
                  "back": { "type": "string", "enum": ["bald", "stubble", "short", "medium", "long"] },
                  "fringe": { "type": ["string", "null"], "enum": ["bald", "stubble", "short", "medium", "long", null] }
                }
              },
              "naturalColor": { "type": "string" },
              "currentColor": { "type": ["string", "null"] },
              "isColorTreated": { "type": "boolean" },
              "undertone": { "type": ["string", "null"], "enum": ["warm", "cool", "neutral", null] },
              "grayPercentage": { "type": ["number", "null"] },
              "faceShape": { "type": "string", "enum": ["oval", "round", "square", "diamond", "heart", "oblong"] },
              "coverage": { "type": "string" },
              "hairlineShape": { "type": "string" },
              "templeRecession": { "type": "string" },
              "crownThinning": { "type": "string" },
              "facialHair": {
                "type": ["object", "null"],
                "properties": {
                  "hasBeard": { "type": "boolean" },
                  "beardType": { "type": "string" },
                  "beardColor": { "type": ["string", "null"] },
                  "connectsToSideburns": { "type": "boolean" }
                }
              },
              "currentCutFamily": { "type": ["string", "null"] },
              "currentStyleDescription": { "type": ["string", "null"] },
              "canGoShorter": { "type": "boolean" },
              "canGoLonger": { "type": "boolean" },
              "canFade": { "type": "boolean" },
              "canLighten": { "type": "boolean" },
              "damageLevel": { "type": ["string", "null"], "enum": ["virgin", "mild", "moderate", "severe", null] },
              "porosity": { "type": ["string", "null"], "enum": ["low", "normal", "high", null], "description": "User-editable" },
              "elasticity": { "type": ["string", "null"], "enum": ["low", "normal", "high", null], "description": "User-editable" },
              "heatStylingFrequency": { "type": ["string", "null"], "enum": ["never", "occasional", "regular", "daily", null], "description": "User-editable" }
            }
          },
          "structural": {
            "type": ["object", "null"],
            "description": "Cross-zone structural measurements — face shape, dimensions, skin tone, and detailed facial geometry",
            "properties": {
              "faceShape": { "type": "string", "enum": ["oval", "round", "square", "diamond", "heart", "oblong"] },
              "faceWidth": { "type": ["number", "null"], "description": "Face width in mm (ARKit)" },
              "faceHeight": { "type": ["number", "null"], "description": "Face height in mm" },
              "jawWidth": { "type": ["number", "null"], "description": "Jaw width in mm" },
              "foreheadHeight": { "type": ["number", "null"], "description": "Forehead height in mm" },
              "widthToHeightRatio": { "type": ["number", "null"] },
              "skinTone": {
                "type": ["object", "null"],
                "properties": {
                  "fitzpatrick": { "type": "string", "description": "Fitzpatrick scale classification" },
                  "undertone": { "type": "string", "description": "Warm, cool, or neutral" },
                  "description": { "type": "string", "description": "Human-readable description" }
                }
              },
              "interOcularDistance": { "type": ["number", "null"], "description": "Distance between pupils in mm" },
              "cheekboneWidth": { "type": ["number", "null"], "description": "Cheekbone width in mm" },
              "foreheadWidth": { "type": ["number", "null"], "description": "Forehead width in mm" }
            }
          },
          "glasses": {
            "type": ["object", "null"],
            "description": "Glasses zone — pupillary distance, frame sizing, and fit measurements",
            "properties": {
              "binocularPdMm": { "type": ["number", "null"], "description": "Pupillary distance in mm" },
              "faceWidthMm": { "type": ["number", "null"], "description": "Face width for frame sizing" },
              "bridgeWidthMm": { "type": ["number", "null"], "description": "Nose bridge width in mm" },
              "frameSize": { "type": ["string", "null"], "enum": ["small", "medium", "large", "extra-large", null] },
              "recommendedFrameWidthMinMm": { "type": ["number", "null"] },
              "recommendedFrameWidthMaxMm": { "type": ["number", "null"] },
              "wearsPrescription": { "type": "boolean" }
            }
          },
          "lastAnalyzedAt": { "type": "string", "format": "date-time" },
          "schemaVersion": { "type": "integer" }
        }
      },
      "AppearanceCard": {
        "type": "object",
        "description": "Compact, ~25-field extract of a user's appearance with enum-only values. The lightweight format for quick reads.",
        "properties": {
          "cardType": { "type": "string", "const": "user" },
          "zone": { "type": "string", "enum": ["hair", "glasses"] },
          "audience": { "type": ["string", "null"], "enum": ["masculine", "feminine", "androgynous", null] },
          "textureFamily": { "description": "1=Straight, 2=Wavy, 3=Curly, 4=Coily, or 'bald'" },
          "textureType": { "type": ["string", "null"], "description": "Andre Walker subtype: '3C', '2A', '4B'" },
          "lengths": { "type": ["object", "null"], "properties": { "top": { "type": "string" }, "sides": { "type": "string" } } },
          "density": { "type": ["string", "null"], "enum": ["thin", "medium", "thick", null] },
          "cutFamily": { "type": ["string", "null"], "enum": ["fade", "taper", "buzz", "scissor", "longer_scissor", "other", null] },
          "styleNature": { "type": ["string", "null"], "enum": ["natural", "protective", "heat-styled", null] },
          "coverage": { "type": ["string", "null"], "enum": ["full", "thinning", "sparse", "patchy", null] },
          "faceShape": { "type": ["string", "null"], "enum": ["oval", "round", "square", "diamond", "heart", "oblong", null] },
          "colorTechnique": { "type": ["string", "null"] },
          "layeringMethod": { "type": ["string", "null"] },
          "stylingMethod": { "type": ["string", "null"] },
          "volumeLevel": { "type": ["string", "null"], "enum": ["flat", "low", "medium", "high", "voluminous", null] },
          "frameSizeCategory": { "type": ["string", "null"], "enum": ["small", "medium", "large", "extra-large", null] },
          "bridgeCategory": { "type": ["string", "null"], "enum": ["narrow", "medium", "wide", null] },
          "frameShape": { "type": ["string", "null"] },
          "computedAt": { "type": "string", "format": "date-time" },
          "cardVersion": { "type": "integer", "const": 1 }
        }
      },
      "VisualIdentitySnapshot": {
        "type": "object",
        "description": "Compact visual identity for quick identification and display",
        "properties": {
          "scanUrl": { "type": "string", "format": "uri", "description": "Signed URL to the user's scan grid image" },
          "scanCreatedAt": { "type": "string", "format": "date-time" },
          "faceShape": { "type": "string" },
          "hairProfile": { "type": ["object", "null"], "description": "Compact hair profile snapshot" },
          "schemaVersion": { "type": "integer" }
        }
      },
      "ScanSession": {
        "type": "object",
        "description": "A scan session that allows a user to create their Appearance profile. The scanUrl opens the Appearance scan flow; the optional webhook fires when the profile is ready.",
        "properties": {
          "sessionId": { "type": "string", "description": "Unique session identifier (scan_...)" },
          "scanUrl": { "type": "string", "format": "uri", "description": "URL to open for the user to complete their face scan" },
          "expiresAt": { "type": "string", "format": "date-time", "description": "When this scan session expires" }
        }
      }
    }
  }
}
