{
  "openapi": "3.1.0",
  "info": {
    "title": "Appearance API",
    "description": "Access a user's Appearance ID — reference photos for visual generation.",
    "version": "0.2.0",
    "contact": {
      "email": "developers@appearance.app"
    }
  },
  "servers": [
    {
      "url": "https://appearance.app/api",
      "description": "Production"
    }
  ],
  "security": [
    { "bearerAuth": [] }
  ],
  "paths": {
    "/v1/users/me/appearance": {
      "get": {
        "summary": "Get Appearance ID",
        "description": "Returns the user's reference photos.",
        "operationId": "getAppearance",
        "tags": ["Appearance ID"],
        "responses": {
          "200": {
            "description": "Reference photos",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AppearanceId" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "description": "No photos available" }
        }
      }
    },
    "/v1/users/me/generations": {
      "get": {
        "summary": "List generations",
        "description": "Returns the user's generation history.",
        "operationId": "listGenerations",
        "tags": ["Generations"],
        "parameters": [
          { "name": "zone", "in": "query", "schema": { "type": "string", "enum": ["hair", "glasses"] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 20 } }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generations": { "type": "array", "items": { "$ref": "#/components/schemas/Generation" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "summary": "Save generation",
        "description": "Save a generated image to the user's profile.",
        "operationId": "saveGeneration",
        "tags": ["Generations"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["imageUrl", "zone"],
                "properties": {
                  "imageUrl": { "type": "string", "format": "uri" },
                  "zone": { "type": "string", "enum": ["hair", "glasses"] },
                  "styleName": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Generation" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid token"
      }
    },
    "schemas": {
      "AppearanceId": {
        "type": "object",
        "properties": {
          "photos": {
            "type": "array",
            "items": { "type": "string", "format": "uri" },
            "description": "Reference photos of the user"
          },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Generation": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "zone": { "type": "string" },
          "imageUrl": { "type": "string", "format": "uri" },
          "generationService": { "type": "string" },
          "styleName": { "type": "string", "nullable": true },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
